{% extends "admin/index.html" %}
{% block content %}
{{ block.super }}
<div class="app-deconfliction module">
    <table>
        <caption>
            <a href="{% url 'admin:admin_deconfliction_view' %}" class="section">Deconfliction Service</a>
        </caption>
        <tr>
            <th scope="row">
                <a href="{% url 'admin:admin_deconfliction_view' %}">View Deconfliction Status</a>
            </th>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>
</div>
{% endblock %}